.main {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  height: 100vh;
}

.stepperHeader {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  width: 100%;
}

.stepperBody {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stepperFooter {
  margin-top: 1rem;
}

.alternativaRadio {
  background-color: rgb(245,245,245);
  margin: 5px;
  border-radius: 40px;
  width: "100%";
}