.main {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  height: 100vh;
}

.imageButton {
  overflow: hidden;
  margin: 2.5rem;
  width: 40%;
  border-radius: 2.2rem;
}

.imageText {
  position: relative;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.25rem;
  padding-top: 0.125rem;
}