.main {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  height: 100vh;
}

.stepperHeader {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  width: 100%;
}

.stepperBody {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stepperFooter {
  margin-top: 1rem;
}

.stepperBox {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-top: 1.75rem;
}